test_format = 1.0

[default]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.3d8d1c29.name = "Upgrade from 2.63.0~ynh2"
